$primary: #fdd2d2;
$dark-text: #3b3737;
$dark-div: rgb(217, 217, 217);
$faint-grey: rgb(244, 244, 244);
$shadow: rgb(194, 194, 194);

$blue: #c3e5e9;
$orange: #f2d2ad;
$purple: #e9d8f0;
$green: #caecce;
