$primary: #fdd2d2;
$dark-text: rgb(59, 55, 55);
$dark-div: rgb(217, 217, 217);
$faint-grey: rgb(243, 243, 243);
$shadow: rgb(194, 194, 194);

$blue: #c3e5e9;
$orange: #f2d2ad;
$purple: #e9d8f0;
$green: #caecce;
