@import "colors";

.home {
  box-shadow: inset 0 8px 8px -8px $shadow;
  background-color: $faint-grey;
  padding: 36px;

  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -24px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 24px; /* gutter size */
    background-clip: padding-box;
  }

  /* Style your items */
  .my-masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 24px;
  }

  .add {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border: none;
    border: 2px solid $dark-text;
    box-shadow: 0px 2px 5px $shadow;
    background-color: white;
    color: $dark-text;
    border-radius: 10%;
    height: 3.5rem;
    width: 3.5rem;
    margin: 24px;
  }
}
