@import "colors";

.home {
  background-color: $faint-grey;
  min-height: 200vh;
  padding: 24px;

  .add {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border: none;
    //border: 2.5px solid $dark-text;
    background-color: $primary;
    color: $dark-text;
    border-radius: 10%;
    height: 3.5rem;
    width: 3.5rem;
    margin: 24px;
    //margin-bottom: 24px;
    //margin-right: 24px;
  }
}
