@import "colors";
@import "breakpoints";

.nav {
  padding: 20px;
  @include xl {
    padding: 30px;
  }
  position: fixed;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  .link {
    text-decoration: none;
    h1 {
      font-size: clamp(2.5rem, -2.1429rem + 5.2143vw, 5rem);
      letter-spacing: 2.5px;
    }
  }

  .opts {
    display: flex;
    gap: 16px;
    @include xl {
      gap: 24px;
    }
    font-weight: bold;
    font-size: clamp(1.1rem, -0.9429rem + 2.2143vw, 2.2rem);
    letter-spacing: 1px;
    margin-right: 35px;
    @include lg {
      margin-right: clamp(2.2rem, -0.2143rem + 2.9714vw, 3.5rem);
    }
  }

  .logged-in {
    display: flex;
    align-items: center;
    gap: clamp(0.375rem, 0.1412rem + 0.487vw, 0.75rem);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 35px;
    @include xs {
      font-size: 0.8rem;
    }
    @include md {
      font-size: clamp(1rem, -0.1143rem + 1.3714vw, 1.6rem);
    }

    @include lg {
      margin-right: clamp(2.2rem, -0.2143rem + 2.9714vw, 3.5rem);
    }
    img {
      height: clamp(2rem, 0.1429rem + 2.2857vw, 3rem);
      border: solid 2px $dark-text;
      border-radius: 4px;
      cursor: pointer;
      @include lg {
        border-width: clamp(0.125rem, 0.0089rem + 0.1429vw, 0.1875rem);
      }
    }

    .email {
      font-weight: bold;
      @include xs {
        visibility: hidden;
      }
      @include sm {
        visibility: visible;
      }
    }
  }
}
