@import "colors";
@import "breakpoints";

.note {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  min-width: 350px;
  min-height: 100px;
  align-self: flex-start;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 2px 4px $shadow;

  .header {
    display: flex;
    justify-content: space-between;
    font-size: clamp(1.3rem, -0.1857rem + 1.8286vw, 1.6rem);
    letter-spacing: 1px;
    padding: 8px;
    @include xl {
      padding: 12px;
    }
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }
    .big-icon {
      height: 1.5rem;
      @include xl {
        height: 2rem;
      }
      cursor: pointer;
    }

    .options {
      display: flex;
      display: none;
      align-items: center;
      gap: 0.3rem;

      img {
        height: 1.3rem;
        @include xl {
          height: 1.7rem;
        }
        cursor: pointer;
      }
    }
  }
  .header:hover > .options {
    display: flex;
  }

  .content {
    padding: 8px;
    min-height: clamp(0rem, -9.2857rem + 11.4286vw, 5rem);
    @include xl {
      padding: 12px;
    }
    font-size: clamp(1rem, 0.2571rem + 0.9143vw, 1.15rem);
    white-space: pre-wrap;
    word-break: break-word;
  }
}
