@import "colors";
@import "breakpoints";

.noteform {
  form {
    background-color: white;
    box-shadow: 0px 2px 4px $shadow;
    display: flex;
    flex-direction: column;
    width: clamp(40rem, 2.8571rem + 45.7143vw, 60rem);

    @media (max-width: 40rem) {
      width: 95%;
    }

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    z-index: 10;

    input {
      border: none;
      min-height: 5vh;
      font-size: clamp(1.2rem, -1.0286rem + 2.7429vw, 1.8rem);
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      padding: clamp(0.5rem, 0.0357rem + 0.5714vw, 0.75rem);
      letter-spacing: 1px;
    }
    input:focus {
      outline: none;
    }
    textarea {
      border: none;
      resize: none;
      outline: none;
      padding: clamp(0.5rem, 0.0357rem + 0.5714vw, 0.75rem);
      font-size: clamp(1rem, -0.4857rem + 1.8286vw, 1.4rem);
    }
    .input-content {
      min-height: 50vh;
    }

    .radio {
      display: flex;
      justify-content: space-around;
      padding-top: 4px;
      padding-bottom: 12px;

      input[type="radio"] {
        display: none;
      }

      label {
        cursor: pointer;
        height: clamp(2.25rem, 0.3929rem + 2.2857vw, 3.25rem);
        width: clamp(2.25rem, 0.3929rem + 2.2857vw, 3.25rem);
        border-radius: 4px;
      }
    }

    button {
      cursor: pointer;
      font-weight: bold;
      border: none;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      letter-spacing: 1px;
      padding: clamp(0.25rem, -0.2143rem + 0.5714vw, 0.5rem);
      font-size: clamp(0.8rem, -0.6857rem + 1.8286vw, 1.2rem);
    }
  }

  #overlay {
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
